.rtl .form-switch .form-check-input {
	margin-right: -2.5em;
	margin-left: unset;
}
.rtl .form-check .form-check-input {
	float: right;
}
.rtl .form-check .form-check-input[type='radio'] {
	margin-right: -1.5em;
	margin-left: unset;
}
.rtl .form-check {
	padding-left: unset;
	padding-right: 2.5rem;
}

.rtl span.s-9tLSnsUl7Fr2 {
	left: -40px;
	right: unset;
}

/* .rtl .btn-group > :not(.btn-check) + .btn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
} */
/* .rtl .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
} */

.rtl .btn-group > .rtl .btn-group:not(:first-child) > .btn,
.rtl .btn-group > .btn:nth-child(n + 3),
.rtl .btn-group > :not(.btn-check) + .btn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.rtl .btn-group > .btn-group:not(:last-child) > .btn,
.rtl .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: unset;
	border-bottom-right-radius: unset;
}

.rtl .btn-group > .btn-group:first-child > .btn,
.rtl .btn-group > .btn:first-child:not(.dropdown-toggle) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-left: 0 !important;
}
